:root {
  --primary-hue: 222;
  --text-color: hsl(var(--primary-hue), 15%, 75%);

  --background-color: hsl(var(--primary-hue) 28% 7%);
  --toolbar-color: hsl(var(--primary-hue) 22% 12%);
  --window-color: hsl(var(--primary-hue) 14% 18%);

  --border-color-standard: hsl(var(--primary-hue), 15%, 65%);
  --border-color-success: green;
  --border-color-failure: red;
  --border: 1px solid var(--border-color-standard);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  min-height: 100vh;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
