:root {
  --shadow: #0007 0px 20px 30px -10px;
  --background-color: #1a202c;
  --window-color: hsl(222 14% 18%);
  --text-color: #eee;
}

html {
  background: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
