:root {
  --primary-hue: 222;
  --text-color: hsl(var(--primary-hue), 15%, 75%);
  --dim-text-color: hsl(var(--primary-hue), 15%, 50%);

  --background-color: hsl(var(--primary-hue) 28% 7%);
  --toolbar-color: hsl(var(--primary-hue) 22% 12%);
  --window-color: hsl(var(--primary-hue) 14% 18%);
  --window-titlebar-color: hsl(var(--primary-hue) 14% 14%);

  --color-standard: hsl(var(--primary-hue), 15%, 65%);
  --color-success: limegreen;
  --color-failure: orangered;
  --border: 1px solid var(--color-standard);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
